body{
    font-family: 'Open Sans', sans-serif !important;
}
h1, h2, h3, h4{
    font-family: 'Open Sans', sans-serif;
}
.font-mont{
    font-family: 'Open Sans', sans-serif;
}
.font-open{
    font-family: 'Open Sans', sans-serif;
}
.font-poppins{
    font-family: 'Open Sans', sans-serif;  
}

.dashboard{
    background-color: #39183b;
}

.dashboard .left-sidebar {
    flex: 0 0 300px;
    max-width: 300px;
    background-color: #39183b;
}
.dashboard .left-sidebar .left-sidebar-inner {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.dashboard .left-sidebar .left-sidebar-inner .logo {
    padding: 20px 25px;
    background-color: #261427;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.dashboard .left-sidebar .left-sidebar-inner .siderbar-menu {
    padding: 25px 25px 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.dashboard .left-sidebar .left-sidebar-inner .siderbar-menu li.menu-item {
    margin-bottom: 10px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.attndce {
    font-size: 12px;
    margin-left: 16px;
    margin-top: 10px;
}
.dashboard .left-sidebar .left-sidebar-inner .siderbar-menu li.menu-item .menu-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #431d46;
    background-color: #431d46;
    border-radius: 40px;
    color: #fff;
    font-size: 14px;
    text-decoration: none !important;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.dashboard .left-sidebar .left-sidebar-inner .siderbar-menu li.menu-item .menu-link:hover,
.dashboard .left-sidebar .left-sidebar-inner .siderbar-menu li.menu-item .menu-link.active{
    background-color: #7f3883;
}
.dashboard .left-sidebar .left-sidebar-inner .siderbar-menu li.menu-item .menu-link img {
    height: 18px;
    width: 100% !important;
    max-width: 20px;
    object-fit: contain;
    margin-right: 12px;
}
.dashboard .left-sidebar .left-sidebar-inner .siderbar-menu li.menu-item .menu-link span:not(.badge) {
    flex: 1;
}

.dashboard .left-sidebar .left-sidebar-inner .siderbar-menu .nav-bottom li .menu-link {
    background-color: transparent;
    border-color: #562b59;
}
.dashboard .left-sidebar .left-sidebar-inner .siderbar-menu .nav-bottom li.menu-item .menu-link:hover,
.dashboard .left-sidebar .left-sidebar-inner .siderbar-menu .nav-bottom li.menu-item .menu-link.active{
    background-color: #7f3883;
}

.dashboard .right-sidebar {
    background-color: #f7f2f7;
    /*flex: 0 0 calc(100% - 300px);*/
    max-width: calc(100% - 300px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    border-radius: 35px 0 0 35px;
    -webkit-border-radius: 35px 0 0 35px;
    -moz-border-radius: 35px 0 0 35px;
    -ms-border-radius: 35px 0 0 35px;
    -o-border-radius: 35px 0 0 35px;
    overflow: hidden;
    position: relative;
}

header .toggle-icon a.btn {
    color: #803a84;
    background-color: #ede6ed;
    border-radius: 40px;
    font-size: 18px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-rightbar .saerchbar {
    flex: 0 0 400px;
    max-width: 400px;
}
.top-rightbar .saerchbar .input-group input.form-control {
    font-size: 14px;
    border-radius: 30px;
    min-height: 42px;
    padding: 5px 50px 5px 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: none;
}
.top-rightbar .saerchbar .input-group .input-group-append {
    position: absolute;
    right: 1px;
    height: 40px;
    top: 1px;
    width: auto;
    z-index: 11;
}
.top-rightbar .saerchbar .input-group button#search {
    background-color: #ede6ed;
    border-radius:30px;
    border: none;
    color: #7f3883;
    font-size: 19px;
    width: 42px;
    padding: 5px 11px;
    box-shadow: none;
    outline: none;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
.top-rightbar .notification button.btn {
    border-radius: 30px !important;
    height: 43px;
    width: 43px;
    background-color: #ede6ed;
    box-shadow: none;
    outline: none;
    border-color: #ede6ed;
    color: #7f3883;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-rightbar .notification button.btn span.badge {
    position: absolute;
    right: -14px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    border: 2px solid #fff;
    top: -4px;
    padding-top: 3px;
}
.userprofile a {
    color: #000;
    text-decoration: none !important;
    align-items: center;
}
.userprofile a .userimg {
    margin-right: 8px;
}
.userprofile a .userimg img {
    height: 46px;
    width: 46px;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.userprofile a .user-name h5 {
    color: #333;
    font-size: 16px;
    padding-bottom: 0px;
    font-weight: 600;
}
.userprofile a .user-name p {
    font-size: 13px;
    font-weight: 500;
    color: #999;
    text-transform: uppercase;
}
.dash-content{
    padding: 20px 25px;
}
.cus-heading {
    color: #000;
    font-size: 26px;
    font-weight: 600;
}
.cus-heading span{
    font-size: 34px;
}
.card-theme {
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 0 0 13px rgb(127 56 131 / 5%);
}
.card-theme .card-header {
    background-color: #faf7fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 57px;
}
.card-theme .card-header h4 {
    font-size: 18px;
    margin-bottom: 0;
    color: #666;
    font-weight: 600;
    text-shadow: 1px 0px #a5a5a5;
}
.card-theme .card-header .viewall {
    font-weight: 600;
    color: #7f3883;
    font-size: 14px;
    text-decoration: none !important;
}
.card-theme .card-header .viewall .badge {
    font-size: 14px;
    padding: 2px;
    border-radius: 30px;
    height: 32px;
    width: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.card-theme .card-header .viewall .badge-theme {
    background-color: #7f3883;
    color: #fff;
}
.btn-theme-light {
    background-color: #ede6ed !important;
    color: #7f3883 !important;
    border-color: #ede6ed !important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.btn-theme-light:hover,
.btn-theme-light:focus {
    background-color: #7f3883 !important;
    color: #fff !important;
    border-color: #7f3883 !important;
}
.clbrdr {
    background-color: #EDE6ED !important;
    border: 1px dashed #7F3883 !important;
}
.btn-theme{
    background-color: #7f3883 !important;
    color: #fff !important;
    border-color: #7f3883 !important;
}
.btn-rounded{
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
}

.adminfooter {
    text-align: center;
    background-color: #dfcde0;
        margin-top: 8%;
}
.adminfooter p{
    margin-bottom:0px;
    color: #7f3883;
    padding: 10px 0px;
}


.togleftin {
    flex: 0 0 100px !important;
    max-width: 100px !important;
}
.togleftin li span {
    display: none;
}
.togleftin .menu-link {
    display: flex;
    margin-bottom: 15px;
}
.togleftin .menu-link img{
    height: 30px !important;
}
.logo-mini{
    display:none;
}
.togleftin .logo-mini{
    display:block !important;
}
.togleftin .logo-big{
    display:none !important;
}
.togrightin {
    flex: 0 0 calc(100% - 100px) !important;
    max-width: calc(100% - 100px) !important;
}
.mobile-header{
	display:none !important;
}
.dash-content {
    padding: 20px 25px;
}
.cus-heading {
    color: #000;
    font-size: 26px;
    font-weight: 600;
}
.col-md-4.col-5.filtrcol {
    position: inherit;
}
.filters {
    position: absolute;
    right: 1%;
    top: 9.6%;
    padding: 6px 30px 6px 20px;
    font-weight: 600;
    font-size: 14px;
    z-index: 111111;
}
.filters img {
    width: 18px;
    text-align: left;
}
.nav-tabs {
    border-bottom: 1px solid #d9c3da;
}
.nav-tabs .nav-item {
    margin-right: 10px;
    border-radius: 10px 10px 0px 0px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #7f3883 !important;
    border: none !important;
}
.nav-tabs .badge {
    padding: 6px 8px !important;
}
.badge-warning {
    background-color: #e5a300 !important;
    border-color: #e5a300 !important;
    color: #fff !important;
}
.nav-tabs .nav-item a {
    margin-bottom: -1px;
    background-color: #e5d6e6;
    margin-right: 10px;
    padding: 10px 25px;
    color: #999;
    font-size: 13px;
    border: none !important;
}
.cus-table table tbody tr td {
    font-size: 14px;
    border: none;
    vertical-align: middle;
	    text-align: center;
}
.cus-table thead {
    background-color: #EEEEEE;
    padding: 35px 0px !important;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 13px;
}
tbody {
    background: #fff;
    width: 100%;
}
.cus-table a {
    color: #7F3883;
    font-size: 13px;
    font-weight: 600;
}
.cus-table .course img {
    width: 40px;
}
.ratings{
	width:70px;
}
.paginav {
    position: absolute;
    bottom: 5%;
    left: 40%;
    z-index: 1111;
}
ul.pagination {
    float: right;
    border-radius: 50px !important;
    background-color: #fff;
    padding: 0px;
    margin-right: 3%;
}
li.page-item {
    padding: 1px 10px;
}
.pagination .page-link {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #000;
}
.clrbt{
    color: #7F3883 !important;
}
.pupox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #7f388329;
    border: 0.5px solid #7F3883;
    border-radius: 5px;
    width: 20%;
    margin: 0 auto;
}
.pupox p {
    margin-bottom: 0px;
    padding: 10px;
}
.pupox b {
    color: #7f3883;
    margin-right: 20px;
}
.pupox span {
    margin-right: 30px;
}
.banner-main {
    background: transparent linear-gradient(
    180deg
    , #7F3883 0%, #401C42 100%) 0% 0% no-repeat padding-box;
        box-shadow: -2px 3px 6px #7f388380;
        margin: 0px !important;
        height: 150px;
}
.banner-main h2 {
    text-align: center;
    padding-top: 2%;
    color: #fff;
    font-weight: 600;
    font: normal normal bold 25px/30px Open Sans;
}
.batchss{
    padding: 0px !important;
}
.batch-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #00000033;
    border-radius: 20px;
    padding: 30px;
    margin: 2% 5%;
}
label{
    font: normal normal normal 13px/15px Open Sans;
letter-spacing: 0px;
color: #555555;
}
.space {
    height: 550px;
}
.batch-card h3 {
    letter-spacing: 0px;
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}
.tsak{
    letter-spacing: 0px;
    color: #000000;
    font-size: 20px;
    padding-left: 6%;
    font-weight: 700; 
} 
.button-group {
    display: block;
    margin: 0px auto;
    text-align: center;
}

button.btn.btn-primary.cancel {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #803984;
    border-radius: 20px;
    color: #803984;
    padding: 8px 30px;
}
button.btn.btn-primary.save {
    background: #803984 0% 0% no-repeat padding-box;
    border-radius: 20px;
    color: #fff;
    padding: 8px 40px;
    border: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  float: right;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #632c67;
}

input:focus + .slider {
  box-shadow: 0 0 1px #632c67;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.swtcbtn{
    margin-top: 50px;
}
.swtcbtn span{
     font: normal normal normal 13px/15px Open Sans;
letter-spacing: 0px;
color: #555555;
}
button.btn.btn-primary.edit-detial {
    float: right;
    background-color: #fff;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border: #7F3883;
    font: normal normal bold 12px/23px Open Sans;
    letter-spacing: 0px;
    color: #7F3883;
    padding: 9px 30px;
}
.banner-main.detialbbner {
    padding: 2% 0px;
    height: 220px;
}

.edit-detial i{
    margin-right: 10px;
}
.detialbbner p {
    font: normal normal 600 13px/21px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    /*color: #fff;*/
    font-family: 'Open Sans', sans-serif !important;
}
.detialbbner span{
    margin-right: 10px;
}
.detialbbner h3{
    font: normal normal normal 28px/30px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
font-family: 'Open Sans', sans-serif !important;
}
.contentboxtable {
    margin-top: 7%;
}
.table tbody {
    background-color: transparent;
}
.cus-table tbody {
    background-color: #fff;
}
.contentboxtable h3 {
    padding-left: 0px !important;
    font-size: 24px;
    color: #000000;
    font-weight: 700;
    margin: 20px 0px;
}
.contentboxtable p {
   /* font-weight: 600;
    margin-bottom: 40px;*/

    font-weight: 600;
    margin-bottom: 40px;
    font-size: 16px;
    color: #212529;
}

.accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: -1px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
}
#accordion .card {
    background-color: transparent !important;
    border: none !important;
}
.card-header a {
    color: #000;
    font: normal normal bold 15px/55px Open Sans;
    letter-spacing: 0px;
    color: #000000;
}
#accordion .card-body {
    background-color: #fff !important;
    margin-top: -10px;
    border-radius: 10px;
}
#accordion .card-body {
    background-color: #fff !important;
    margin-top: -10px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #343434;
}
.inline span {
    font-style: initial;
    background-color: #d0d0d0;
    padding: 5px 10px;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 14px;
}
#batchsmodel .modal-header {
    background: #39183B 0% 0% no-repeat padding-box;
    padding: 30px 20px!important;
}
#batchsmodel .course {
    color: #fff !important;
}
#batchsmodel .close img {
    width: 15%;
    color: #fff !important;
}
.modal-header .close i {
    border: 1px solid #fff;
    padding: 8px 10px;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    opacity: 1 !important;
        margin-top: 10px;
}
#batchsmodel .modal-body {
    background-color: #7F3883;
        color: #fff;
}
#batchsmodel .modal-body span {
    background-color: #b3b3b3;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
    margin-bottom: 40px !important;
}
#batchsmodel .modal-body p{
     margin-bottom: 30px !important;
}
.batch-card.lsnadd {
    background: #EEEEEE 0% 0% no-repeat padding-box;
}
.lsnadd .cancel {
    float: right;
    background-color: #57265a21 !important;
    border: none !important;
    margin-top: 20px;
}
.lsnbrd p {
    color: #552558;
    font-weight: 600;
}
.lsnbrd p span {
    margin-right: 10px;
}
.lsnbrd p i {
    float: right;
}
#editclass .modal-header{
    background: #F9F7FA 0% 0% no-repeat padding-box;
border-radius: 20px 20px 0px 0px;
}
.boxline {
    display: -webkit-inline-box;
}
.boxline p{
    margin-right: 25px;
    font-size: 15px;
}
.boxline {
    display: -webkit-inline-box;
    margin: 18px 0px;
}

#accordion .card-title .rig {
    float: right;
    margin-right: 10px;
}
#accordion .card-title span {
    margin-right: 10px !important;
}
#accordion b {
    margin: 20px 0px;
    font-size: 20px !important;
}
.dashtitle{
    color: #000000;
        font-size:  24px;
        font-weight:  800;
        margin: 30px 0px;
}
.inlinebxs {
    display: -webkit-inline-box;
}
.bx {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #00000033;
    border-radius: 20px;
    padding: 20px;
    margin-right: 30px;
    text-align: center;
    width: 140px;
height: 140px;
}
.bx p {
    /*font: normal normal 600 14px/21px Open Sans;
    letter-spacing: 0px;
    color: #2F2F2F;
    margin-bottom: 0px;
    margin: 20px 0px;*/
    letter-spacing: 0px;
    color: #2F2F2F !important;
    margin-bottom: 0px;
    margin: 20px 0px;
    font-size: 14px;
    
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500;
}
.tenttitle{
    font: normal normal bold 17px/21px Open Sans;
letter-spacing: 0px;
color: #2F2F2F;
}
.curriculumpage
{
    margin-top: 150px;
}
.contentpage
{
   margin-top: 70px; 
}
.button-group button {
    margin-left: 5px;
}

.accordion .card-header:before{display: none;}
.textareasizecustom textarea.form-control
{
    min-height: 212px !important;
}

.btn-add-cutm {
    background-color: #7f3883 !important;
    color: #fff !important;
    border-color: #7f3883 !important;
    right:5% !important;
    top: 9%;
}
.all-coup-add {
    top: 0% !important;
}